

<div class="main">
  <div class="header_1 card">
    <span>
      <img src="assets/images/laptop.jpg">
      <p class="ms-3">Laptop</p>
    </span>
  
    <span>
      <img src="assets/images/phone_1.jpg">
      <p  class="ms-3">phone</p>
    </span>
  </div>


  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/images/banner_1.jpg" class="d-block w-100 " alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/images/banner_2.jpg" class="d-block w-100 " alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/images/banner_3.jpg" class="d-block w-100 " alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>



  <div class="products card col-12 ">
    <div class="row">
      <span (click)="GetItems(7)" class="card col-2">
        <img src="assets/images/laptop.jpg">
        <p class="ms-3">Laptop</p>
      </span>
    
      <span (click)="GetItems(6)" class="card col-2">
        <img  src="assets/images/phone_1.jpg">
        <p  class="ms-3">phone</p>
      </span>
       
      <span (click)="GetItems(4)"  class="card col-2">
        <img src="assets/images/watch_3.jpg">
        <p  class="ms-3">Watches</p>
      </span>
       
      <span (click)="GetItems(3)"  class="card col-2">
        <img src="assets/images/camera.jpg">
        <p  class="ms-3">Camera</p>
      </span>
       
      <span  class="card col-2">
        <img src="assets/images/pants_1.jpg">
        <p  class="ms-3">Trousers</p>
      </span>
      <span class="card col-2">
        <img src="assets/images/shoe_5.jpg">
        <p  class="ms-3">Shoes</p>
      </span>
      <span (click)="GetItems(5)" class="card col-2">
        <img src="assets/images/shirts.jpg">
        <p  class="ms-3">Shirts</p>
      </span>
      
    </div>
    
    
  </div>


</div>





