.d-flex{
    padding: 10px;
}

#logo{
    padding-left: 50px;
}

nav{
    padding: 15px;
    
}


.search-container {
    position: relative;
    display: inline-block;
  }
  
  input[type="text"] {
    margin-left: 50px;
    height: 45px;
    width: 700px; /* Adjust width as needed */
    padding: 8px 32px 8px 8px; /* Adjust padding as needed */
    border: 1px solid #ccc; /* Adjust border as needed */
    border-radius: 6px; /* Adjust border-radius as needed */
    font-size: 16px; /* Adjust font-size as needed */
  }
  
  button[type="submit"] {
    position: absolute;
    right: 0;
    top: 0;
    padding: 14px; /* Adjust padding as needed */
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: gray;
  }
  
  button[type="submit"] i {
    font-size: 20px;
    color: gray;
    font-weight: 10px; /* Adjust font-size as needed */
    color: #555; /* Adjust color as needed */
  }

  .cart{
    margin-right: 20%;
    font-size: 18px;
  }
  .cart i{
    font-size: 25px;
  }
  
  .navbar{
    background-color: rgb(195, 95, 95);
  }
